fastapi
uvicorn[standard]
python-dotenv
requests
groq
pymongo[srv]
pydantic
apscheduler
pymupdf
certifi
dnspython
python-docx
python-jose[cryptography]
python-multipart
slowapi
PyJWT
httpx
brevo-python
reportlab
